---
import Social from "../components/Social.astro";
---

<footer>
    <p>Made with Astro!</p>
    <Social platform="Twitter" url="http://www.twitter.com" />
    <Social platform="Facebook" url="http://www.facebook.com" />
</footer>
