---
---

<style>
    .hamburger {
        border: 1px solid red;
    }
</style>

<div class='hamburger'>
    <span class='menu-item'>Menu 1</span>
    <span class='menu-item'>Menu 2</span>
    <span class='menu-item'>Menu 3</span>
</div>

<script>
    import '../scripts/menu.js';
</script>