---

import Navigation from "./Navigation.astro"
import Button from "./Button.astro";

---

<header>
    <div class="container jcsb p-m">
        <div class="logo">MYLOGO</div>
        <Navigation />
        <Button text="CTA MAIN" url="#"/>
    </div>
</header>