---

import Button from "./Button.astro";

---

<section class="hero">
    <div class="container jcc fxc aic p-l">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <div>
            <Button text="CTA MAIN" url="#"/>
            <Button text="CTA SECOND" url="#"/>
        </div>
    </div>
</section>