---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <h1>TEMPLATE MARKDOWN</h1>
    <h2>{frontmatter.title}</h2>
    <h3>{frontmatter.pubDate}</h3>
</BaseLayout>